@font-face {
    font-family: 'Norse-Bold';
    src: url('/Norse-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html, body {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: rgb(44, 42, 42);
}

.main-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.image-bg-container {
    background: url(/images/teemu-paananen-OOE4xAnBhKo-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(36, 156, 36, 0.432);
    color: white;
    font-weight: 100;
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7px;
    height: 20%;
    font-size: 2.5rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.odin-font {
    font-family: 'Norse-Bold';
    font-size: 5.4rem;
}

img {
    height: 7.0rem;
}

.form-container {
    background-color: whitesmoke;
    width: 100%;
}

.form {
    background-color: white;
}


